{% extends '@SyliusAdmin/shared/form_theme.html.twig' %}

{% block joppedc_sylius_better_seo_image_row %}
    <div class="mb-3 field">
        {{ form_row(form.type) }}
    </div>
    <div class="mb-3 field">
        {{ form_label(form.file) }}
        {% set isImageExists = form.vars.value.path|default(null) |default(null) is not null ? true : false %}
        {% if isImageExists %}
            <span class="avatar avatar-xl" style="background-image: url('{{ form.vars.value.path|default(null) |imagine_filter('sylius_small') }}')"></span>
        {% endif %}
        {{ form_widget(form.file) }}
    </div>
{% endblock %}
